html {
	
	background: #2B023A url(images/landing.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main {
	overflow: hidden;
	margin: 3% 5%;
}

#profile {
	overflow: hidden;
	height: 80%;
}

#quickFacts {
	width: 26.5%;
	float: left;
	overflow: auto;
	height: 100%;
	position:relative;
    margin-top: 3%;
    margin-left: 1.5%;
}

#bio {
	width: 70%;
	margin-left: 1.5%;
	float: right;
	position: relative;
	bottom: 70px;
}

hr { 
	border: 2.5px solid #3c1f90;
	height: 0px;
	width: 100%;
	position: relative;
	top: 175px;
	left: 175px;
}

ul { 
	position: absolute;
	top: 10px;
	right: 10px;
	width: auto;
	list-style-type: none;
	list-style-position: outside;
}

li.icons {
	display: inline;
}

a.socialIcons {
	height: 5%;
	width: 5%;
	float: right;
	margin-left: 1.5%;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

a.socialIcons:hover {
opacity: 1.0;
filter:alpha(opacity=100);
}

img.socialIcons {
	height: 100%;
	width:	100%;
}

img.profile {
	height: 22%;
	width: 22%;
	display:inline;
	z-index: 100;
	vertical-align: middle;
	position: relative;
	left: 3%;
}

img.bordered {
	border: thick solid #3c1f90;
	border-radius: 100%;
}

h1 { 
	width: 88%;
	text-align: right;
	padding-bottom: 10px;
	font: 100 64pt "Helvetica Neue", helvetica, sans-serif;
	color: white;
	letter-spacing: 10px;
	display: inline;
	position: relative;
	left: 9%;
	-webkit-stroke-width: 100px;
  	-webkit-stroke-color: #FFFFFF;
   	-webkit-fill-color: #FFFFFF;
   	text-shadow: 1px 1px 15px white;
}

.one {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255, 0.1);
}

.two {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255, 0.2);
}

.three {
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255, 0.3);
}

:link {
	color: #e0c1f4;
	text-decoration: none;
	font-weight: lighter;
} 

:visited {
	color: white;
	text-decoration: none;
} 

div p {
	font: lighter 16pt "Helvetica Neue", helvetica, sans-serif;
	color: white;
}

div>p {
	font: lighter 20pt "Helvetica Neue", helvetica, sans-serif;
	text-align: left;
	letter-spacing: 0.1em;
	padding: 20px;
	padding-left: 35px;
}

th {
	font: 200 20pt "Helvetica Neue", helvetica, sans-serif;
	color: white;
	text-align: center; 
	padding-top: 11px;
	padding-bottom: 11px;
	letter-spacing: 2px;
}

td {
	vertical-align: middle;
	padding: 7px;
}

td.text {
	padding-left: 10px;
	font: lighter 16pt "Helvetica Neue", helvetica, sans-serif;
	color: white;
	letter-spacing: 1px;
}

img.decoration{
	height: 90%;
}